html {
  font-family: Verdana;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}
.button {
  display: inline-block;
  background-color: #0070ba;
  border: none;
  border-radius: 10px;
  color: #c9d6e0;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}
.button2 {
  background-color: #0070ba;
}
.button3 {
  background-color: #f44336;
}
.button4 {
  background-color: #12723a;
  position:relative;
  top: -188px;
  left: -170px;
 
}
.button5 {
  background-color: #12723a;
  position:relative;
  top: -282px;
  left: 180px;
  
}
